@charset "UTF-8";


@media screen and (min-width: 700px) and ( max-width: 992px){

    .iburguer{
        display: none;
    }
    input{
        width: 90%;
        
    }
    menu {
            display: block;
            
            
        }
     menu#itens >ul{
            display: flex;
            justify-content: space-evenly;
            
        }

     menu#itens >ul > li > a{
            background-color: rgba(0, 0, 0, 0.685);
            color: white;
            width: 130px;
         }
        
         
        
    }