@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); 
    
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
   
    background-color: black;
}

main{
    height: 100vh;
    width: 100vw;
}



h1> img{
    
    height: 100px;
    padding: 10px 10px 0px 20px ;
    margin: 10px 10px 10px 30px;
    

}

header{
    background-color: white;
}
.pesquisa{
    transform: translateY(-13px);
    margin: 0px 10px 0px  10px;
    
}
input{
    width: 80%;
    padding:5px;
    margin: 0px 10px 0px 20px;
    border-radius: 20px;
    border: 1px solid black;
    
}

span{
    background-color: rgb(210, 91, 39);
    padding: 2px;
    color: white;
    border-radius: 50%;
    transform: translateY(6px);
    
}

#menu-h{
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
    
    
}

#menu-h > li > a{
    display: block;
    background-color: aliceblue;
    padding: 2px;
    margin: 5px;
    flex: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    

}

li{
 list-style: none;
}


 div.imagem{
    background-color: rgb(190, 186, 186);
    height: 30%;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
}
 div.imagem> img{
    width: 60px;
    margin: 15px 0px;
    padding:0px;
    background-color: white;
    flex: auto;
    
}


article{
    background-color: rgb(160, 119, 43);
    height: 100%;
}