@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); 
    
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
   
    background-color: black;
}

main{
    height: 100vh;
    width: 100vw;
}



h1> img{
    
    height: 90px;
   
    margin: 10px 10px 10px 30px;
    

}

header{
    background-color: white;
}
.pesquisa{
    transform: translateY(-13px);
    margin: 0px 10px 0px  10px;
    
}
input{
    width: 75%;
    padding:5px;
    margin: 0px 10px 0px 20px;
    border-radius: 20px;
    border: 1px solid black;
    
}
.iburguer{
   
   width: 60px;
   height: 60px;
   display: flex;
   float: right;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   margin: -95px 30px ;
   
}
#burguer{
    font-size: 3em;

}
#pesquisa{
    background-color: rgb(210, 91, 39);
    padding: 2px;
    color: white;
    border-radius: 50%;
    transform: translateY(6px);
    
}


menu{
   display: none;
}



menu > ul > li > a{
    display: block;
   background-color: rgba(0, 0, 0, 0.479);

    color: black;
    padding: 2px;
    margin: 5px;
    flex: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px;
}

li{
 list-style: none;
}


 div.imagem{
    background-color: rgb(190, 186, 186);
    height: 30%;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
    
}
 div.imagem> img{
    width: 60px;
    margin: 15px 0px;
    padding:0px;
    background-color: white;
    flex: auto;
    
}


article{
    background-color: rgba(71, 64, 64, 0.342);
    height: 100ve;
    width: 100vw;
}


.elementos-portas{
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    margin: 0px 4px 0px 4px;
    /* width: 93%; */
   
}
.elementos-portas > img{
    width: 150px;
    background-image: linear-gradient(rgba(128, 122, 111, 0.267), rgb(90, 48, 48));
    padding: 50px;
    margin: 30px;
   border-radius: 10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.473);
}

.elementos-portoes{
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    margin: 0px 4px 0px 4px;
    /* width: 93%; */
    
    
}
.elementos-portoes> img{
    width: 200px;
    background-image: linear-gradient(rgba(128, 122, 111, 0.267), rgb(90, 48, 48));
    padding: 50px;
    margin: 30px;
   border-radius: 10px;
   box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.473);
}
.elementos{
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    margin: 0px 4px 0px 4px;
    /* width: 93%; */
    
    
}
.elementos > img{
    width: 200px;
    background-image: linear-gradient(rgba(223, 212, 193, 0.267), rgb(90, 48, 48));
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.473);
    
}